@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

:root{
    --dark: #001233;
    --light: #fff;
    --gray: #BABABA;
}

body{
    font-family: 'Comfortaa', cursive;
}
/* Header */
.navbar{
    background-color: var(--dark);    
}
.navbar-item{
    color: var(--light);
    font-weight: bold;
    font-size: 36px;
    transition: 0.3s ease-in all;
    height: 8vh;
}
.navbar-item:hover{
    color: var(--gray) !important;
}
/* Main */
.main-content{
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crud-container{
    width: 60%;
    padding: 2rem 3rem;
    overflow: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .28);
    border-radius: .5 rem;
}
.crud-container h1{
    font-weight: bold;
    font-size: 24px;
}
.crud-header{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem 1rem 2rem;
    border-bottom: 1px solid #000;
}
.button span{
    margin-left: 10px;
}